<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="./CSS/style.css"> -->
    <title>Signin Page</title>

    <style>
      body {
        margin: 20px;
        font-family: "Poppins";
        color: #333;
      }

      div {
        max-width: 1160px;
        margin: 0 auto;
        text-align: center;
      }

      div h1 {
        margin-right: auto;
      }

      a {
        color: rgb(13, 155, 124);
        text-decoration: none;
        font-weight: bold;
        padding-right: 15px;
      }

      a:hover {
        color: rgb(12, 214, 170);
      }

      nav {
        display: flex;
        gap: 10px;
        align-items: center;
        max-width: 1160px;
        margin: 0 auto;
        border-bottom: 1px solid #e2e2e2;
      }

      nav h1 {
        margin-right: auto;
      }

      .login-form form {
        max-width: 400px;
        margin: 0 auto;
      }
      .login-form input,
      .login-form textarea {
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 8px;
      }
      .login-form label {
        display: block;
        margin-top: 24px;
      }
      textarea {
        height: 120px;
      }
      .login-form button {
        margin-top: 20px;
        background: blue;
        color: white;
        padding: 6px;
        border: 0;
        font-size: 1.2em;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <nav>
        <a href="/">HOME</a>
        <a href="/About">ABOUT</a>
        <a href="/Contact">CONTACT</a>
        <!-- <a href="/Signin">SIGN IN</a> -->
      </nav>
      <h1>Sign In</h1>
      <div class="login-form content">
        <form action="/signin" method="POST">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
          <label for="password">Password:</label>
          <input type="text" id="password" name="password" required />
          <button>Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
